DB_URL=jdbc:postgresql://localhost:5432/bugbuster
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=tu_clave_segura_para_desarrollo
JWT_EXPIRATION=86400000
GOOGLE_CLIENT_ID=TU_CLIENT_ID_DE_GOOGLE.apps.googleusercontent.com
